@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
/* ---------------
resting css
-------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/*--------------
   common style 
 --------------*/
:root {
  /* height width */
  --max-width: 1160px;
  /* padding margin */
  --body-side-padding: 2rem;
  /* colors */
  --main-color: #2D25A0;
  --button-color:  #E02C6D;
  --gray-color: #6C6C6C;
  --white-color: #fff;
  --black-color: #000;
  /* font sizes */
  --font-size-extra-large: 6.4rem;
  --font-size-large: 4.8rem;
  --font-size-medium: 2.8rem;
  --font-size-small: 1.6rem;
  --font-size-button:1.6rem;
    /* font width */
  --font-width-extra-large: 800;
  --font-width-large-: 700;
  --font-width-medium: 700;
  --font-width-small-normal: 400;
  --font-width-small-bold: 500;
  --font-width-button:500
    /* line hight */
  --line-hight-extra-large: 8.8rem;
  --line-hight-large-: 6rem;
  --line-hight-medium: 4rem;
  --line-hight-small: 2.6rem;
  --line-hight-button: 2.4rem
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.btn{
  font-size: var(--font-size-button);
  font-weight: var(--font-width-button);
  line-height: var(--line-hight-button);
  color: var(--white-color);
  background-color: var(--button-color);
  padding: 1rem 2.4rem;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.btn:hover {
  transform: skewX(-15deg);
  box-shadow: 10px 10px 0 #FBC638;
}

/* -----------------
  header section style 
  ---------------------*/
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    width:  100vw;
    background-color: var(--main-color);
  }
  .navbar{
    flex-grow: 2;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--body-side-padding);
    /* height: 4.4em; */
    margin: 4.2em 0;
  }
  .navbar__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
  }
  .navbar__link{
    font-size: var(--font-size-small);
    line-height: var(--line-hight-button);
    font-weight: var(--font-width-small-bold);
    padding-right: 1em;
    list-style: none;
  }
  .navbar__link>a{
    text-decoration: none;
    color: var(--white-color);
  }
  .navbar__menu{
    display: none;
    font-size: 2.4rem;
    color: var(--white-color);

  }
  .navbar__btn{

  }
  .navbar__btn>i{
    padding-right: .5em;
  }

  /* ---------------------
  Top banner section style 
  ------------------------*/
  .banner{
    min-height: 45.6rem;
    background-color: var(--main-color);
  }
  .topBanner{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    max-width: calc(var(--max-width) - 1.8rem) ;
    padding: var(--body-side-padding);
    margin: 0 auto;
  }
  .topBanner__info{
    max-width: 48.5rem;
  }
  .topBanner__info>h1{
    color: var(--white-color);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-width-extra-large);
    line-height: var(--line-hight-extra-large);
    margin-bottom: 2.7rem;
  }
  .topBanner__info>button>i{
    padding-left: .5em;
  }
  
  .topBanner__img{
    max-height: 44rem;
    max-width: 100%;
  }
  /* ---------------------
  players section style 
  ------------------------*/
  .players{
    max-width: calc(var(--max-width) - 7rem) ;
    padding: 8rem var(--body-side-padding);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    gap: 2.7rem 3rem;
    
  }
  .player{
    max-width: 32rem;
    max-height: 47.4rem;
    padding: 1.5rem;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-overflow: clip;
    margin: 0 auto;
  }
  .player__img{
    max-width: 100%;
    max-height: 25.6rem;
  }
  .player__info{
    
  }
  .player__info>h3{
    font-size: var(--font-size-medium);
    font-weight: var(--font-width-medium);
    line-height: var(--line-hight-medium);
    padding-top: 1.6rem;
  }
  .player__info>p{
    color: var(--gray-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-width-small-normal);
    line-height: var(--line-hight-small);
    padding: 1rem 0 3.3rem 0;
  }

  /* ---------------------
    matches section style
  ------------------------*/
  .matches{
    max-width: calc(var(--max-width) - 1.8rem) ;
    padding: var(--body-side-padding);
    border: 1.5rem solid var(--main-color);
    margin: 0 auto;
    position: relative;
  }
  .matches__heading{
    font-size: var(--font-size-large);
    font-weight: var(--font-width-extra-large);
    line-height: var(--line-hight-large);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -4.5rem;
    background: white;
    background-size: 4rem;
    padding: 0 2rem;
  }
  .matches__time{
    font-size: calc(var(--font-size-medium) - .8rem);
    font-weight: var(--font-width-small-normal);
    line-height: var(--line-hight-small);
    text-align: center;
    padding: 1rem 0;
    word-spacing: .3em;
  }
  .matches__time>span{
    font-size: var(--font-size-small);
    background-color: red;
    color: white;
    padding: 0 .6em;
  }
  .matches__details{
    display: flex;
    flex-wrap: wrap;
  }
  .matches__last,
  .matches__next,
  .matches__table{
    padding: 2em;
    margin: 1em 0;
  }
  
  .matches__last{
    flex: 34rem 1 2;
    border-right: 2px solid lightgray;
  }
  .matches__next{
    flex: 34rem 1 2;

  }
  .matches__table{
    flex: 34rem 2 1;
    border-left: 2px solid lightgray;
  }
   
  /* common style in matches */
  .matches__info{
    display: flex;
    justify-content: space-between;
  }
  .matches__name{
    
  }
  .matches__name>p:first-child{
    font-size: calc(var(--font-size-small) - .2rem);
  }
  .matches__name>p:last-child{
    font-size: calc(var(--font-size-small) - .4rem);
  }
  .matches__btn{
    min-width: 80px;
    max-height: 2rem;
    font-size: calc(var(--font-size-small) - .6rem);
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--button-color);
    padding: 0.2rem .6rem;
    outline: none;
    border: none;
    /* letter-spacing: .1em; */
  }
  .matches__scores{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
  }
  .matches__scores h3{
    font-size: var(--font-size-medium);
    font-weight: var(--font-width-small-normal);
    line-height: var(--line-hight-medium);
  }
  .matches__team{
    display: flex;
    align-items: center;
    gap: .8em;
  }
  @media screen and (max-width:1089px) {
    .matches__table{
      border-left: 0px ;
    border-top: 2px solid lightgray;
    }
  }
  
  @media screen and (max-width:750px) {
    .matches__last{
      border-right: 0;
    }
    .matches__next{
      border-top: 2px solid lightgray;
    }
  }

 /* ---------------------
    Sponsors section style
  ------------------------*/
  .sponsors{
    max-width: calc(var(--max-width) - 3rem)  ;
    padding: 8rem calc(var(--body-side-padding) + 5rem);
    margin: 4rem auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  }
  .sponsors__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .sponsors__main>img{
    flex-basis: 33%;
    max-width: 23rem;

  }
  .sponsors__secondary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sponsors__secondary>img{
    flex-basis: 10%;
    max-width: 12.8em;
  }

  /* --------------------
  footer section style
  -------------------- */
  .footer{
    margin: 0 auto;
    max-width: 48.3rem;
    max-height: 21.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

  }
  .footer__logo{
    max-height: 11rem;
    max-width: 70%;
    margin-bottom: 1.5em;
  }
  .footer__socialMedia{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer__socialMedia>i{
    font-size: var(--font-size-small);
    background-color: lightgray;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer.footer>p{
    font-size: var(--font-size-small);
    font-weight: var(--font-width-small-bold);
    line-height: var(--line-hight-medium);
  }

  /*---------------------
   media query for mobile 
   ---------------------*/
  @media screen and (max-width:688px) {
    :root {
      /* font sizes */
      --font-size-extra-large: 3.6rem;
      --font-size-large: 3rem;
        /* font width */
      --font-width-extra-large: 700;
        /* line hight */
      --line-hight-extra-large: 5rem;
      --line-hight-large-: 4rem;
    }
    .navbar{
      margin: 2em 0;
    }
    .navbar__links{
      display: none;
    }
    .navbar__menu{
      display: block;
    }
    .navbar__btn{
      height: 3.2rem;
      width: 9rem;
      font-size: 14px;
    }
    .topBanner{
      flex-wrap: wrap;
      justify-content: center;
    }
    .players{
      grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    }
    .sponsors{
      padding: 4rem var(--body-side-padding);
    }
  }
  /*---------------------
   media query for tablet 
   ---------------------*/
  @media screen and (min-width:689px) and (max-width:929px) {
    :root {
      /* font sizes */
      --font-size-extra-large: 4.6rem;
      --font-size-large: 3.2rem;
        /* font width */
      --font-width-extra-large: 700;
        /* line hight */
      --line-hight-extra-large: 5rem;
      --line-hight-large-: 5rem;
    }
    .navbar{
      margin: 2.2em 0;
    }
    .navbar__links{
      display: none;
    }
    .navbar__menu{
      display: block;
    }
    .topBanner{
      flex-wrap: wrap;
      justify-content: center;
    }
    .topBanner__info{
      max-width: 32.5rem;
    }
    .topBanner__img {
      max-height: 30em;
      max-width: 30em;
    }
    .sponsors{
      padding: 4rem var(--body-side-padding);
    }
  }